
.footer-container{
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    align-items: flex-start;
    justify-content:space-evenly;
    padding: 1rem;

}

.email-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.footer-section{
    padding: 20px;
    align-items:flex-start;
}
