.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-item{
    padding: 1rem;
}